.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}
.body {
  justify-content: space-between;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.item1 {
flex: 1;
order: 1;
border-style: dashed; 
}
.item2 {
flex-grow: 1;
order: 2;
border-style: dashed; 
}
.login_info {
flex-grow: 1;
order: 3;
border-style: dashed; 
}

.pick_button {
flex-grow: 1;
order: 1;
border-style: dashed; 
}

.galaxy {
flex: 3;
border-style: dashed; 
order: 2;
}

.pick_order {
flex-grow: 1;
order: 3;
border-style: dashed; 
}

.picks {
flex-grow: 1;
order: 1;
border-style: dashed; 
}
img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.item3 {
flex-grow: 1;
order: 2;
border-style: dashed; 
}
.header{
  min-height: 1;
  display: flex;
   justify-content: center;
   align-items: stretch;
  flex-direction: row;
}

.body_row_1 {
  flex-grow: 3;
  display: flex;
   justify-content: center;
   align-items: stretch;
  flex-direction: row;
  order: 2;
}
.body_row_2 {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
   justify-content: center;
   align-items: stretch;
  order: 3;
}
.footer {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
   justify-content: space-between;
  align-items: stretch;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.card {
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
